<!-- <search class="text-center search-inline" [passedQuery]='query'></search> -->

<p *ngIf='query'>
  Searched for <b>{{query}}</b>
</p>

<!-- <div *ngIf='!query'>
    <h1>Search something</h1>    
</div> -->

<!-- <div *ngFor='let abc of videoList'>
    <h1><a routerLink='/videos/{{ abc.slug }}' routerLinkActive="active">{{ abc.name }}</a></h1>
    <div style="position:relative;height:0;padding-bottom:56.25%" *ngIf='abc.embed'>
        <iframe [src]="getEmbedUrl(abc) | safe" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen ></iframe>
    </div>
    <hr/>
</div> -->

<div *ngFor='let abc of videoList; let i = index' [ngClass]="{'row': (i+1)%3 == 0}">
    <div class='col-md-4 col-sm-12' >
        <div class="thumbnail">
          <a routerLink='/videos/{{ abc.slug }}' routerLinkActive="active" *ngIf='abc.image'><img [src]='abc.image' alt="{{ abc.name }} image"></a>
          <div class="caption">
            <h3><a routerLink='/videos/{{ abc.slug }}' routerLinkActive="active">{{ abc.name }}</a></h3>
            <p><a routerLink='/videos/{{ abc.slug }}' routerLinkActive="active" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
    </div>  
</div>