<h1>
  {{title}}
</h1>

<div *ngFor='let item of videoList' >  
  <h1><a routerLink='/videos/{{ item.slug }}' routerLinkActive="active">{{ item.name }}</a></h1>
  <!-- <div [innerHTML] = 'item.embed'></div> -->
  <div style="position: relative; height:0; padding-bottom: 35%" *ngIf='item.embed'>
  <!-- <div style="position: relative; height:0; padding-bottom: 56.25%" *ngIf='item.embed'> -->
  	<!-- <iframe [src]='getEmbedUrl(item)' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></iframe> -->
  	<iframe [src]='getEmbedUrl(item)|safe' width='640' height='360' frameborder=0 allowFullScreen='true'></iframe>

  </div>
  
  

</div>
