<h1>
  {{title}}
</h1>

<!-- <div *ngFor='let item of videoList' >  
  <h1><a routerLink='/videos/{{ item.slug }}' routerLinkActive="active">{{ item.name }}</a></h1>
  <div style="position: relative; height:0; padding-bottom: 35%" *ngIf='item.embed'>
  	<iframe [src]='getEmbedUrl(item)|safe' width='640' height='360' frameborder=0 allowFullScreen='true'></iframe>
  </div>
</div> -->

<div class='row'>
    <div class='col-sm-4' *ngFor='let item of videoList'>
        <div class="thumbnail">
           <a routerLink='/videos/{{ item.slug }}' routerLinkActive="active" *ngIf='item.image'><img [src]='item.image' alt="{{ item.name }} image"></a>
           <div class="caption">
             <h3><a routerLink='/videos/{{ item.slug }}' routerLinkActive="active">{{ item.name }}</a></h3>
             <p><a routerLink='/videos/{{ item.slug }}' routerLinkActive="active" class="btn btn-primary" role="button">View</a></p>
           </div>
         </div>
  </div>
</div>
