    
<div class="jumbotron">
  <div class="container">
    <carousel *ngIf="homeImageList">
      <slide class="text-center" *ngFor='let imageObj of homeImageList'>
        <a class="" routerLink='/videos/{{ imageObj.slug }}' routerLinkActive="active">
          <img class="img-main-carousel img-responsive" [src]="imageObj.image" alt="first slide" >
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>{{ imageObj.name }}</h3>
          <a class="btn btn-default" routerLink='/videos/{{ imageObj.slug }}' routerLinkActive="active"> View</a>
        </div>
      </slide><!-- 
      <slide>
        <a class="" #imageTwo href="/videos/video-1" (click)="preventNormal($event, imageTwo)"><img class="img-main-carousel img-responsive" src="assets/images/nature/5.jpg" alt="second slide" ></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="btn btn-default" href="/videos/video-1"> Video 1</a>
        </div>
      </slide>
      <slide>
        <a class="" #imageThree href="/videos/video-1" (click)="preventNormal($event, imageThree)"><img class="img-main-carousel img-responsive" src="assets/images/nature/6.jpg" alt="third slide" ></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          <a class="btn btn-default" href="/videos/video-1"> Video 1</a>
        </div>
      </slide> -->
    </carousel>
  </div>
</div>